.button {
    color: #faf4ea;
    background-color: #819b57;
    border: 2px solid #819b57;
    border-rsddius: 8px;
}

.button:hover {
    color: #465929;
    background-color: transparent;
}
.button:active {
    background-color: rgb(2, 165, 187);
}